<h1>Editing user</h1>

<%= render 'form' %>



<%= link_to 'Show', @user %>

<% if current_user.admin? %>
  <%= link_to 'Back', users_path %>
<% else%>
  <%= link_to 'Back', your_page_path %>
<% end %>
