<h1>Editing user</h1>

<%@user.temp_text = @user.send_address.join("\r")%>
<%= render 'form' %>



<%= link_to 'Show', @user %>

<%= link_to 'user_list', users_path if current_user.admin?%>
<%= link_to 'your_page', your_page_path %>

