
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/* All  */
*{ font-family:  "Meiryo UI";}

div.site_header{
    background-color: #b0c4de;
}

div.logo{
    /*background-color: #0000ff;*/
    font-size: large;
    font-weight: bold;
}

div.log_in_user{
    border-style: double;
    /*border-width: 1px;*/
}

div.site_footer{
    background-color: #adffad;

    /*position: absolute;*/
    /*bottom: 0;*/
}

div.horizontal_controller{
    overflow: hidden;
}

div.horizontal_button{
    float: left;
}
div.horizontal_button:after{
    content: "";
    clear: both;
}