#coding:utf-8
<%= stylesheet_link_tag "application", :media => "all" %>
<div class =  "site_footer">
  <%if signed_in? %>
    <hr>
    <h6>
      <p>各種情報</p>
    </h6>
    <%s = calc_time %>
    今月の労働時間 : <%= s[:hour]%> 時間 <%= s[:minute]%> 分
    <br>
    <br>
    <br>
  <% end  %>
</div>